#content {
    display: none;
}

#overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#addBtn {
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 100;
}

#addBtn button {
    height: 60px;
    width: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taskInput {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}